@keyframes flicker {
	0% {
		border-color: rgba(0, 0, 0, 1);
	}
	50% {
		border-color: rgba(0, 0, 0, 0.25);
	}
	100% {
		border-color: rgba(0, 0, 0, 1);
	}
}

.game {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* transition: background-color 0.2s ease-out; */
}

.overlay {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #303556;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease-in-out;
}

.congratulations {
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--colRed);
  border-radius: 20px;
  padding: 50px;
  color: white;
  transition: opacity 0.2s ease-in-out;
}

.words {
  font-family: 'PT Serif', serif !important;
	list-style: none;
  display: flex;
  flex-direction: column;
}

.words h2 {
  margin-bottom: 20px;
  align-self: flex-end;
}

.word {
  margin-left: 40px;
	background: var(--colRed);
  color: white;
	padding: 5px 10px;
	border-radius: 5px;
	margin-bottom: 20px;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.completed {
	text-decoration: line-through;
}

.word:last-of-type {
	margin-bottom: 0;
}

.container {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.soup {
	color: black;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(16, 60px);
	grid-template-rows: repeat(9, 60px);
	grid-gap: 2px;
  align-self: center;
}

@media (max-width: 1350px) {
  .word {
    font-size: 0.75rem;
  }

  .soup {
    grid-template-columns: repeat(16, 40px);
	  grid-template-rows: repeat(9, 40px);
  }
}

.failed {
	/* background-color: var(--colRed); */
  background-color: #fbdbdb;
}

.letter {
  font-family: 'PT Serif', serif !important;
	cursor: pointer;
	border: solid rgba(0, 0, 0, 0) 1px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.25rem;
	transition: border-color 0.2s ease-in-out, transform 0.2s ease-in-out,
		background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.letter:hover {
	border-color: rgba(0, 0, 0, 1);
	transform: scale(1.1);
}

.selected {
	border-color: rgba(0, 0, 0, 1);
	animation-name: flicker;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.solved {
	background-color: #ecdac8;
	color: black;
}