@keyframes flicker {
	0% {
		border-color: rgba(0, 0, 0, 1);
	}
	50% {
		border-color: rgba(0, 0, 0, 0.25);
	}
	100% {
		border-color: rgba(0, 0, 0, 1);
	}
}

.game {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* transition: background-color 0.2s ease-out; */
}

.words {
	list-style: none;
	font-size: 1.5rem;
	margin-left: 100px;
}

.word {
	background: white;
	padding: 10px 20px;
	border-radius: 10px;
	margin-bottom: 20px;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.completed {
	text-decoration: line-through;
}

.word:last-of-type {
	margin-bottom: 0;
}

.soup {
  margin-top: 40px;
	color: black;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(16, 70px);
	grid-template-rows: repeat(9, 70px);
	grid-gap: 2px;
}

@media (max-width: 1350px) {
  .soup {
    grid-template-columns: repeat(16, 50px);
	  grid-template-rows: repeat(9, 50px);
  }
}

.failed {
	background-color: var(--colRed);
}

.letter {
  font-family: 'PT Serif', serif !important;
	cursor: pointer;
	border: solid rgba(0, 0, 0, 0) 1px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.5rem;
	transition: border-color 0.2s ease-in-out, transform 0.2s ease-in-out,
		background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.letter:hover {
	border-color: rgba(0, 0, 0, 1);
	transform: scale(1.1);
}

.selected {
	border-color: rgba(0, 0, 0, 1);
	animation-name: flicker;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.solved {
	background-color: #ecdac8;
	color: black;
}