@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

a {
  /* color: inherit; */
  /* text-decoration: none; */
  box-sizing: border-box;
}

body {
	font-family: "Outfit";
	font-weight: 300;
}

.wrapper {
	width: 100%;
	height: 100vh;
	background-color: #3b51c8;
}